@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body.page {
    display: flex;
    background-image: url(../images/green-forest.jpg); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}


div.paper {
    background-color: seashell;
    background-image: url("../images/beige-paper.jpg");
    background-repeat: round;
    padding: 0 16px 50px;
    margin-top: 50px;
    margin-bottom: 100px;
    max-width: 80%;
    width: 100%;
    box-sizing: border-box;
    
}

div.intro {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
h1.intro {
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #1c270d;
    font-size: clamp(3rem, 7vw, 8rem);
    line-height: 1;
    margin: 0;
    flex-shrink: 0;
    flex-grow: 0;
}

h2 {
    color: white;
    font-size: clamp(2.5rem, 6vw, 5rem);
}

.intro img {
    height: clamp(150px, 30vw, 300px);
    width: auto;
    margin: 0;
}

.intro img.hi-img {
    position: relative;
    top: -20px; /* adjust this value until it looks aligned */
}

img.selfie {
    width: clamp(150px, 20vw, 200px);
    height: clamp(150px, 20vw, 200px);
    object-fit: cover;
    border-radius: 10%;
    object-position: center 0%;
}

img.photo-sequence {
    width: clamp(180px, 30vw, 300px);
    height: auto;
}

div.image-pair {
    display: flex;
    gap: 12px;
    justify-content: center;
}

div.image-pair img {
    width: min(calc(50% - 6px), 300px);
    height: auto;
}


img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

div.content {
    margin: clamp(16px, 5vw, 64px); /* paramters: min, medium, max*/
}

nav {
    font-weight: 400;
    font-style: normal;
    color: #1c270d;
    font-size: 1.5rem;
}
