@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body.page {
    display: flex;
    background-image: url(../images/green-forest.jpg); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

img.selfie {
    width: clamp(150px, 20vw, 300px);
    height: clamp(150px, 20vw, 300px);
    object-fit: cover;
    border-radius: 10%;
    object-position: center 0%;
}

div.paper {
    background-color: seashell;
    background-image: url("../images/beige-paper.jpg");
    background-repeat: round;
    padding: 0 16px 50px;
    margin-top: 50px;
    margin-bottom: 100px;
    max-width: 80%;
    width: 100%;
    box-sizing: border-box;
    
}

div.intro {
    display: flex;
    align-items: center;
    gap: 30 px;
}
h1.intro {
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #1c270d;
    font-size: clamp(3rem, 8vw, 9rem);
    line-height: 1;
    flex: 1;
    align-self: flex-end;
    /* color: transparent; 
    -webkit-text-stroke: 2px #1c270d;  */

}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

div.content {
    margin: clamp(16px, 5vw, 64px); /* paramters: min, medium, max*/
}